<%- include('./partials/initial', {title: 'Teams', status: 'member'}) %>

    <div class="mx-auto bg-light w-50 mt-4 px-3 py-3 shadow-sm" style="min-width: 400px;">
        <h2 class="ml-2 text-center font-rubik text-uppercase font-weight-bold mb-0">Donation Teams</h2>

        <hr/>

        <div class="text-center">
            <h4 class="font-rubik">Your teams:</h4>
            <div>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
            </div>
        </div>

        <hr/>

        <div class="text-center mb-4">
            <h4 class="font-rubik">Teams you might like:</h4>
            <div>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
                <%- include('./partials/emptyteam') %>
            </div>
        </div>

    </div>

<%- include('./partials/final') %>